.button {
    border: 1px solid var(--color-border-dark);
    background: var(--color-bg-btn-dark);

    color: var(--color-txt-dark);

    min-width: var(--width-min-button);
    height: 30px;

    transition: var(--transition);

    font-size: var(--size-font-btn);
}

.button:hover {
    background: var(--color-bg-btn-hover-dark);
    border: 1px solid var(--color-border-hover);
}

.button:focus {
    outline: none;
}
