.pagination {
	width: 100%;
	margin-bottom: 10px;
}

.paginationWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin: 0 auto;

	color: var(--color-txt-dark);
}

.paginationNums {
	display: flex;
	margin-right: 30px;
}

@media screen and (max-width: 650px) {
	.paginationWrap {
		flex-direction: column;
	}

	.paginationNums {
		margin-right: 0;
	}
}

.paginationWrap .span {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 5px 15px;

	cursor: default;
	transition: var(--transition);
}

.paginationWrap .span:hover {
	background-color: var(--color-bg-select-dark);
}

.paginationActive {
	border: 1px solid var(--color-border-hover);
}

.paginationNums .span:nth-child(3) {
	margin-right: 30px;
}

.paginationControls {
	display: flex;
}

@media screen and (max-width: 650px) {
	.paginationWrap .span {
		padding: 2px 10px;
	}
}
