.inputWrap {
    display: flex;
    align-items: flex-end;
    margin: 10px 0;
}

.textarea {
    margin-right: 30px;

    max-width: 590px;
    width: 82%;
    height: 100px;
}

.textarea textarea {
    padding: 2px 5px;
    resize: vertical;
}

.textarea textarea::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 768px) {
    .inputWrap {
        justify-content: space-between;
    }

    @media screen and (max-width: 450px) {
        .inputWrap {
            flex-direction: column;
        }
        .textarea {
            margin: 0 0 10px;
            width: 100%;
            max-width: unset;
            height: calc(3 * var(--size-font-base));
        }
        .addPostBtn {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}
