.form {
    margin-bottom: 20px;
}

.contactItem {
    display: block;
    margin: 10px 0;
}

.contactItemTitle {
    display: block;
    margin-bottom: 5px;
}

.lookingForAJob {
    display: flex;
    justify-content: space-between;
}

.lookingForAJobCheckbox {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.lookingForAJobCheckbox h2 {
    margin-right: 10px;
}

@media screen and (max-width: 650px) {
    .lookingForAJob {
        flex-direction: column-reverse;
    }

    .lookingForAJobCheckbox h2 {
        font-size: var(--size-font-base);
    }
}
