.alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-bg-muted);
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-error-txt-dark);
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    padding: 30px 50px;
    background-color: var(--color-error-bg-dark);
    border: 1px solid var(--color-error-border-dark);
}
