.profileUser {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
}

.profileUser h2,
.profileUser p {
    margin: 0;
}

.profileUser p  {
    margin-bottom: 30px;
}

.profileInfoBlock {
    font-size: var(--size-font-base);
}

.profileInfoBlock a {
    margin-right: 10px;
    color: var(--color-txt-dark);
    transition: var(--transition);
}

.profileInfoBlock a:hover {
    color: var(--color-txt-active-dark)
}

.profileInfoBlock strong {
    margin-right: 5px;
}
