/*.item {*/
/*    color: greenyellow;*/
/*}*/
/*.item img {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    border-radius: 30px;*/
/*}*/

.post {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;

    background: var(--color-bg-select-dark);
    color: var(--color-txt-dark);
}

.post p {
    max-width: 100%;
    margin: 0;
    word-wrap: break-word;
}

.likes {
    align-self: flex-end;
    margin-left: 20px;
    transition: var(--transition);
    cursor: default;
}

.likes small {
    margin-right: 5px;
}

.likes:hover {
    color: var(--color-txt-active-dark);
}
